html, body {
    font-family: Roboto, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    color: #fffbf5;
}

#main-container {
    width: 360px;
    height: 271px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: lightslategray;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 20px;
}

.bold {
    font-weight: bold;
}

#user-hero {
    border-bottom: 3px solid #fffbf5;
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-top: -10px;
}

#chat-selection {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
}

#logout-button {
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
    border: none;
    align-self: end;
    background-color: #fffbf5;
    color: #ff6f61;
    font-weight: bold;
}

#join-button {
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    align-self: center;
    background-color: #fffbf5;
    color: #45a29e;
    font-weight: bold;
    cursor: pointer;
}

#general-button {
    margin-top: 40px;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    align-self: center;
    box-sizing: border-box;
    background-color: lightslategray;
    color: #fffbf5;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    width: 220px;
    transition: width 0.3s;
}

#general-button:hover {
    background-color: #fffbf5;
    color: #45a29e;
    width: 360px;
}